footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  background: #D4BF26;
  height: 10vh;
}
footer .fa-instagram {
  color: red;
  font-size: 1.7rem;
}
footer .fa-facebook {
  font-size: 1.7rem;
  color: red;
}
