.about-container {
    width: 100%;
    margin: 0 auto;

    .top-title {
        width: 100%;
        height: 40%;
        margin: 0 auto;
        // margin-right:  auto;
        // margin-top: 1%;
        // margin-bottom: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        // border-radius: 2px;
        box-shadow: 0px 10px 20px -20px black;
        text-align: center;

        h3 {
            // margin: .5%;
            // padding: 1%;
            font-size: 2rem;
        }

    }

    .top-content {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0 auto;


        .top-content-image {
            width: 50%;
            height: 100%;
            // margin: 0 auto;
            box-sizing: border-box;
            // border: solid 2px red;
            // background-position: top;
            // background-attachment: fixed;
            // background-repeat: no-repeat;

            img {
                height: 72vh;
            }
            
        }

        .top-content-description {
             width: 50%;
             text-align: center;
             margin: 1%;
             padding: 5%;
             border: 4px solid #068460;
            

            h3 {
                margin: 1%;
                padding: 1%;
                font-size: 2rem;

            }

            p {
                color: #D4BF26;
                font-size: 1.3rem;
            }

        }

    }


    .bottom-content {


        .icon-descriptors-title {
            width: 100%;
            height: 50%;
            margin: 0 auto;
            padding-top: 2%;
            padding-bottom: 2%;
            box-shadow: 0px 10px 20px -20px black;
            text-align: center;
            background: #068460;

            h3 {
                margin-top: .2%;
                margin-bottom: .07%;

                padding-top: .75%;
                padding-bottom: .2%;
                font-size: 2rem;
                color: #D4BF26;

            }
        }

        .icon-descriptors {

            display: flex;
            justify-content: center;


            .icon {
                
                display: flex;
                flex-direction: column;
                align-content: space-around;
                width: 35%;
                margin: 5%;
                width: 30%;
                text-align: center;

                h3 {
                    margin-top: 5%;
                    margin-bottom: 5%;
                }

                i {
                    font-size: 10rem;
                }

                p {
                    width: 80%;
                    margin: 0 auto;
                }
                
            }

        }

    }

}