.about-container{


    width: 100%;
    margin:  auto;

    .top-title {
        width: 40%;
        height: 50%;
        margin-left: auto;
        margin-right:  auto;
        margin-top: 1%;
        margin-bottom: 5%;
        padding: 2%;
        border-radius: 15px;
        box-shadow: 0 0px 20px -5px black;
        text-align: center;

    }

    .top-content {

        .top-content-image {
            border: solid 2px red;

        }

        .top-content-description {

            h3 {


            }

            p {


            }

        }

    }


    .bottom-content {


        .icon-descriptors-title {


        }

        .icon-descriptors {



            .icon {


                h3 {

                }

                i {

                }

                p {

                }
                
            }

        }

    }

}