footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    background: #6F721a;
    height: 10vh;
    
    .fa-instagram{
        color: red;
        font-size: 1.7rem;
    }
}