.hero{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    .heroImg{
        width: 100%;


        img{
            width: 100%;
        }
    }

    .heroText{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: white;
        margin-top: -10%;
        opacity: .7;
        align-items: center;
        justify-content: center;
        width: 100%;

        p{
            text-align: center;
        }
        div{
            display: flex;
            justify-content:space-evenly;
            width: 100%;
        }
    }
}