.hero{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    .heroImg{
        width: 100%;


        img{
            width: 100%;
        }
    }

    .heroText{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #6F721a;
        margin-top: -40%;
        opacity: .9;
        align-items: center;
        justify-content: center;
        width: 80%;
        color: white;

        p{
            text-align: center;
        }
        div{
            display: flex;
            justify-content:space-evenly;
            width: 100%;
            margin-top: 3%;
            padding-bottom: 2%;


            a{


                button{
                    border: 1px solid #f29421;
                    border-radius: 5px;
                    color:#d83122;
                    background: #f29421;

                    &:hover{
                        background: #d83122;
                        color: white;
                    }
                }
                
            }
        }

    }
}