header{
    width: 100%;
    display: flex;
    justify-content: center;
    background: yellow;
    font-size: 1.5rem;
    div{
        width:80%;
        display: flex;
    }
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    background: black;

    .logo{
        width:40%;
    }
    .links{
        display:flex;
        justify-content: space-between;
        align-items: center;
        
        a{
            color: red;

            &:hover{
                color: blue;
            }
        }
        
    }
}







