header{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #068460;
    font-size: 1.5rem;
    
    div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

nav{
    display: flex;
    max-width: 880px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #068460;

    .logo{
        width:40%;
        img{
            width: 50%;
            height: 15vh;
            margin-left: 4%;
        }
    }
    .links{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        
        a{
            color:#F4F8F7;
            text-decoration: none;
            &:hover{
                color:  #D4BF26;
                text-decoration: none;
            }
        }
        
    }
}







